<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns="http://www.springframework.org/schema/security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
							http://www.springframework.org/schema/security
							http://www.springframework.org/schema/security/spring-security-4.1.xsd">

	<!-- Configured global security and its annotations -->
	<global-method-security pre-post-annotations="enabled"
		secured-annotations="enabled" proxy-target-class="true" />

	<http pattern="/api/customer/login" security="none" />
	<http pattern="/api/countries" security="none" /> 
	<http pattern="/api/states" security="none" /> 
	<http pattern="/api/cities" security="none" /> 
	<http pattern="/api/admin/register" security="none" />
	<http pattern="/api/logout" security="none" />
	<http pattern="/api/web/login" security="none" />
	<http pattern="/api/admin/create/applicant" security="none" />

	<!-- Configured access and intercepting URL's -->
	<http use-expressions="true" create-session="stateless"
		entry-point-ref="authenticationEntryPoint">
		<csrf disabled="true" />
		<intercept-url pattern="/api/admin/**" access="hasAuthority('ADMIN')" />
		<intercept-url pattern="/api/customer/**" access="hasAuthority('USER')" />
		<http-basic />
		<custom-filter ref="authenticationTokenFilter" position="FORM_LOGIN_FILTER" />
		<logout 
		logout-url="/api/logout" 
		invalidate-session="true" />
	</http>

	<!-- Configured authentication manager and user details -->
	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="userDetailsService" />
	</authentication-manager>


	<beans:bean id="userDetailsService"
		class="com.nextgen.service.impl.UserDetailsServiceImpl" />

	<!-- Configured custom filter for every authenticated request -->
	<beans:bean id="authenticationTokenFilter"
		class="com.nextgen.filter.AuthenticationTokenFilter">
		<beans:property name="authenticationManager" ref="authenticationManager" />
	</beans:bean>

	<!-- Configured custom filter for Entry-point Handler request -->
	<beans:bean id="authenticationEntryPoint"
		class="com.nextgen.component.EntryPointUnauthorizedHandler">
	</beans:bean>
</beans:beans>